<div class="grid grid-cols-2 gap-10 mx-44 mt-14  ">
    <div>
        <p class="text-5xl font-semibold mx-4 text-pink-600 ">EDUCATION</p>
        <img src="../../assets/images/diploma.png" alt="education" class="education-image">
    </div>
    <div class="space-y-2 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent">
        
        <!-- Item #1 -->
        <div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
            <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-pink-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                    <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
                </svg>
            </div>
            <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow">
                <div class="flex items-center justify-between space-x-2 mb-1">
                    <div class="font-bold text-1xl text-pink-600">TERTIARY</div>
                </div>
                <div class="text-slate-500"> <span class="font-bold text-black">STI COLLEGE CALOOCAN</span> 2020-PRESENT</div>
            </div>
        </div>
        
        <!-- Item #2 -->
        <div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
            <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-pink-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                    <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
                </svg>
            </div>
            <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow">
                <div class="flex items-center justify-between space-x-2 mb-1">
                    <div class="font-bold  text-pink-600">VOCATIONAL/TECHNICAL</div>
                </div>
                <div class="text-slate-500"><span class="font-bold text-black">STA. ELENA INSTITUTE OF SCIENCE AND TECHNOLOGY INC.   </span></div>
                <div class="text-slate-500">2019-2020</div>
            
            </div>
        </div>
        
        <!-- Item #3 -->
        <div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
            <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-pink-500 text-white group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                    <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
                </svg>
            </div>
            <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow">
                <div class="flex items-center justify-between space-x-2 mb-1">  
                    <div class="font-bold  text-pink-600">SECONDARY</div>
                </div>
                <div class="text-slate-500"><span class="font-bold text-black">RIZAL NATIONAL HIGH SCHOOL   </span></div>
                <div class="text-slate-500">2013-2019</div>
            
            </div> 
        </div>
        
        <!-- Item #5 -->
        <div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
            <div class="flex items-center justify-center w-10 h-10 rounded-full border  border-white bg-slate-300 group-[.is-active]:bg-pink-500 text-white group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                    <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
                </svg>
            </div>
            <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white p-4 rounded border border-slate-200 shadow">
                <div class="flex items-center justify-between space-x-2 mb-1">
                    <div class="font-bold  text-pink-600">PRIMARY</div>
                </div>
                <div class="text-slate-500"><span class="font-bold text-black">STA. ELENA INSTITUTE OF SCIENCE AND TECHNOLOGY INC.   </span></div>
                <div class="text-slate-500">2017-2013</div>
            </div>
        </div>
    </div>

</div>