<div class=" block sm:grid  grid-cols-2 gap-20 bg-black bottom-0 pt-5 px-10 sm:px-20 pb-10" id="footer">
    <div>
        <div class="text-5xl font-extrabold ...">
            <p class="bounce text-2xl sm:text-5xl font-bold sm:mx-10 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 sm:mt-14">GET IN TOUCH</p>
        </div>
        <p class="text-xs sm:text-2xl   mr-12 sm:mx-10 text-white ">As a beginner, I am open to any messages, eager to learn from your insights and feedback, and willing to work if desired.</p>
        <div class=" flex justify-around mr-44 sm:mr-96 sm:ml-10 sm:mt-5">
            <a href="https://www.facebook.com/profile.php?id=100009212240739">
                <button>
                    <img src="../../assets/images/facebook.png" alt="facebook"
                        class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-5 sm:size-10" />
                </button>
            </a>
            <a href="https://www.linkedin.com/in/armie-jane-delos-reyes-8424932b3/">
                <button>
                    <img src="../../assets/images/linkedin.png" alt="linkedin"
                        class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-5 sm:size-10 p-0.5" />
                </button>
            </a>
            <a href="emailto:armiejanedelosrys@gmail.com">
                <button>
                    <img src="../../assets/images/email.png" alt="email"
                        class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-5 sm:size-10 p-0.5" />
                </button>
            </a>
            <a href="https://github.com/ArmieJaneDelosReyes">
                <button>
                    <img src="../../assets/images/github.png" alt="github"
                        class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-5 sm:size-10" />
                </button>
            </a>
    
        </div>
    </div>

    <div class="mode hidden sm:flex justify-around my-10">
        <div class="relative">
            <div class="bg-gray-200 border shadow-lg px-5 py-20 rounded-br-lg rounded-tl-lg absolute top-3 left-3 w-full h-full z-0"></div>
            <div class="bg-zinc-50 border shadow-lg px-5 py-20 rounded-br-lg rounded-tl-lg relative z-50">
                <span class="my-16 font-medium">armiejanedelosrys@gmail.com</span>
            </div>
        </div>
        
        <div class="relative">
            <div class="bg-gray-200 border shadow-lg px-16 py-20 rounded-br-lg rounded-tl-lg absolute top-3 left-3 w-full h-full z-0"></div>
            <div class="bg-gray-50 border shadow-lg px-16 py-20 rounded-br-lg rounded-tl-lg relative z-50">
                <span class="my-16 font-medium">09606585928</span>
            </div>
        </div>
    </div>
    
</div>
