<div id="project" class=" grid block grid-cols-3 gap-0 bg-black">
    <p class="text-2xl sm:text-5xl font-bold mx-10 text-pink-600 mt-14">GET IN TOUCH</p>
    <p class="text-1xl sm:text-3xl font-bold mx-10 text-white "></p>
    <div class="flex justify-around mt-4">
        <button>
            <img src="../../assets/images/facebook.png" alt="facebook"
                class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-10" />
        </button>
        <button>
            <img src="../../assets/images/linkedin.png" alt="linkedin"
                class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-10 p-0.5" />
        </button>
        <button>
            <img src="../../assets/images/email.png" alt="email"
                class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-10 p-0.5" />
        </button>
        <button>
            <img src="../../assets/images/github.png" alt="github"
                class="border bg-white shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] rounded-full size-10" />
        </button>
    </div>
</div>