<div class=" block sm:grid grid-cols-2 gap-0 " id="about">
    <div  class="my-14">
        <p class=" i text-4xl sm:text-4xl text-pink-600 font-semibold text-center">About Me</p>
        <div class="my-4 bg-zinc-50 border shadow-lg px-5 py-5">
            <p class=" text-xs sm:text-auto sm:font-semibold text-justify">
                    I'm Armie Jane, a recent graduate from STI College Caloocan with a degree
                in BSIT. As a UI/UX designer and front-end developer, I specialize in
                creating visually appealing interfaces and seamless user experiences.
                Let's build something amazing together!
            </p>
            <p class="i text-2xl sm:text-2xl  text-pink-600 font-bold text-center mt-10">Contact Information</p>
            <div class="divide-y-3 divide-slate-400/25">
                <div class="flex justify-between mx-1 sm:mx-16 my-3 text-xs sm:text-auto font-semibold sm:font-semibold">
                    <p >Number #:</p>   
                    <p>09606585928</p>
                </div>
                <div class="flex justify-between mx-1 sm:mx-16 my-3 text-xs sm:text-auto font-semibold sm:font-semibold">
                    <p>Email:</p>
                    <p>armiejanedelosrys@gmail.com</p>
                </div>
                <div class="flex justify-between mx-1 sm:mx-16 my-3 text-xs sm:text-auto font-semibold sm:font-semibold">
                    <p>Address:</p>
                    <p>Tanong Malabon City</p>
                </div>
            </div>
        </div>
    </div>
    <img src="../../assets/images/my-image.png" alt="my_image" class="hidden sm:block my-3 rounded-full bg-zinc-50 border shadow-lg px-20 py-2 mx-10">

</div>