<div class="grid grid-cols-2 gap-0 mx-44 my-10 ">
    <div  class="my-16">
        <p class="text-4xl text-pink-600 font-bold text-center">About Me</p>
        <div class="my-4 outline outline-offset-2 px-5 py-5">
            <p class="font-semibold text-justify">
                I'm Armie Jane, a recent graduate from STI College Caloocan with a degree
                in BSIT. As a UI/UX designer and front-end developer, I specialize in
                creating visually appealing interfaces and seamless user experiences.
                Let's build something amazing together!
            </p>
            <p class="text-2xl  text-pink-600 font-bold text-center mt-10">Contact Information</p>
            <div class="divide-y-4 divide-slate-400/25">
                <div class="flex justify-between mx-16 my-3 font-semibold">
                    <p >Number #:</p>
                    <p>09606585928</p>
                </div>
                <div class="flex justify-between mx-16 my-3 font-semibold">
                    <p>Email:</p>
                    <p>armiejanedelosrys@gmail.com</p>
                </div>
                <div class="flex justify-between mx-16 my-3 font-semibold">
                    <p>Address:</p>
                    <p>43 Manapat St. Tanong Malabon City</p>
                </div>
            </div>
        </div>
    </div>
    <img src="../../assets/images/my-image.png" alt="my_image" class=" mx-auto my-3 rounded-full bg-zinc-900 border-8 px-20 py-2 border-pink-600">
</div>