<div class="  mx-20 mt-36 inset-x-0">
    <div class="relative flex justify-around p-10 border xl:border-1-2 z-30">
        <marquee behavior="" direction="" class=" flex justify-around p-10 border xl:border-1-2 z-30">
            <img src="../../assets/images/certificate1.png" alt="image_certificate" class=" rounded h-40 hover:translate-y-20 ">
            <img src="../../assets/images/certificate2.png" alt="image_certificate" class=" rounded h-40">
            <img src="../../assets/images/certificate3.png" alt="image_certificate" class=" rounded h-40">
            <img src="../../assets/images/certificate4.png" alt="image_certificate" class=" rounded h-40">
            <img src="../../assets/images/certificate5.png" alt="image_certificate" class=" rounded h-40">
    
        </marquee>    
    </div>
    
</div>

<div class="image-slider">
    <div class="image-slider-track">
        <div class="slide">
            <img src="../../assets/images/certificate1.png" alt="image_certificate" class=" rounded h-40  ">
        </div>
        <div class="slide">
            <img src="../../assets/images/certificate2.png" alt="image_certificate" class=" rounded h-40">
        </div>
        <div class="slide">
            <img src="../../assets/images/certificate3.png" alt="image_certificate" class=" rounded h-40">
        </div>
        <div class="slide">
            <img src="../../assets/images/certificate4.png" alt="image_certificate" class=" rounded h-40">
        </div>
        <div class="slide">        
            <img src="../../assets/images/certificate5.png" alt="image_certificate" class=" rounded h-40">
        </div>
    </div>
</div>



