<div class="  mx-200 mt-20 inset-x-0 ">
    <p class="text-5xl font-semibold mx-48 text-pink-600 ">CERTIFICATE</p>
    <div class=" display flex justify-around px-28 border xl:border-1-2 z-30">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="../../assets/images/certificate1.png" alt="image_certificate" >
                </div>
                <div class="slide">
                    <img src="../../assets/images/certificate2.png" alt="image_certificate" >
                </div>
                <div class="slide">
                    <img src="../../assets/images/certificate3.png" alt="image_certificate" >
                </div>
                <div class="slide">
                    <img src="../../assets/images/certificate4.png" alt="image_certificate" >
                </div>
                <div class="slide">        
                    <img src="../../assets/images/certificate5.png" alt="image_certificate" >
                </div>

                <div class="slide">
                    <img src="../../assets/images/certificate1.png" alt="image_certificate" >
                </div>
                <div class="slide">
                    <img src="../../assets/images/certificate2.png" alt="image_certificate" >
                </div>
                <div class="slide">
                    <img src="../../assets/images/certificate3.png" alt="image_certificate" >
                </div>
                <div class="slide">
                    <img src="../../assets/images/certificate4.png" alt="image_certificate" >
                </div>
                <div class="slide">        
                    <img src="../../assets/images/certificate5.png" alt="image_certificate" >
                </div>
            </div>
        </div>
    </div>
</div>





