<div id="skills" class="mx-200 mt-20">
    <p class="text-5xl font-semibold mx-48 text-pink-600">SKILLS</p>

    <div class="display flex mx-40 ">
        <div class="radial-bars ">
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200" >
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text ">HTML</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200" >
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text ">CSS</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200" >
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text ">JavaScript</div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200" >
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text">PHP </div>
            </div>
            <div class="radial-bar">
                <svg x="0px" y="0px" viewBox="0 0 200 200" >
                    <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                    <circle class="path path-5" cx="100" cy="100" r="80"></circle>
                </svg>
                <div class="percentage">90%</div>
                <div class="text">ANGULAR </div>
            </div>
        </div>
        <div>
            <div class="my-skills-container">
                <div class="tech-skills-container">
                    <h1>Technical Skills</h1>
                    <div class="my-skills">
                        <h2>HTML</h2>
                        <div class="progress-bar">
                            <div class="html-progress"> <span>20%</span></div>
                        </div>
                        <h2>CSS</h2>
                        <div class="progress-bar">
                            <div class="css-progress"> <span>20%</span></div>
                        </div>
                        <h2>JavaScript</h2>
                        <div class="progress-bar">
                            <div class="javascript-progress"> <span>20%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

</div>
