<app-navigation></app-navigation>


<div class="grid grid-cols-3 gap-10 mx-36 mt-16">
    <div class="my-40 text-right ">
        <p class="text-3xl font-bold"> Hello, I'm</p>
        <p class="text-5xl  text-pink-600 font-bold">Armie Jane D.</p>
        <p class="text-5xl  text-pink-600 font-bold">Delos Reyes</p>
        <button class="mt-6 px-5 py-2 text-white bg-pink-500 hover:bg-pink-700 rounded-full">Download CV</button>
    </div>
    <div class="">
        <img src="../../assets/images/my-image.png" alt="my_image" class="block mx-auto">
    </div>
    <div class="my-40 text-2xl font-semibold text-justify">
        <p>This is where my journey unfolds. Dive in and explore the stories I've crafted, the challenges I've conquered, and the visions I've brought to life. Let's embark on this adventure together.</p>
        <div class="flex justify-around">
            <img src="../../assets/images/facebook.png" alt="facebook" class="size-14">
            <img src="../../assets/images/linkedin.png" alt="linkedin" class="size-14">
            <img src="../../assets/images/email.png" alt="email" class="size-14 p-1">
            <img src="../../assets/images/github.png" alt="github" class="size-14">
        </div>
    </div>
</div>


<app-about></app-about>