<nav
  class="flex justify-around py-2 fixed top-0 inset-x-0 bg-zinc-100 border shadow-lg z-40"
>
  <div class="bg-zinc-100 border shadow-lg py-1 px-8">
    <h3 class="logo_name font-bold text-4xl text-pink-600">
      A<span class="text-black text-4xl">Jane</span>
    </h3>
  </div>
  <ul
    class="flex justify-between w-96 text-1xl text-black mt-2.5 font-semibold"
  >
    <li class="hover:text-pink-600"><a href="#home">Home</a></li>
    <li class="hover:text-pink-600"><a href="#about">About</a></li>
    <li class="hover:text-pink-600"><a href="#skills">Skills</a></li>
    <li class="hover:text-pink-600"><a href="#projects">Projects</a></li>
  </ul>
</nav>
