<nav
  class="flex justify-between py-2 fixed top-0 inset-x-0 bg-zinc-100 w-full border shadow-lg z-40"
>
  <div class="flex my-0 mx-5 sm:my-0 sm:mx-40">
    <div class="bg-zinc-100 border shadow-lg py-2 px-6 sm:px-8">
      <h3 class="logo_name font-bold text-3x1 sm:text-4xl text-pink-600">
        A<span class="text-black text-4x1 sm:text-4xl">Jane</span>
      </h3>
    </div>
    <!-- Mobile menu button -->
    <button class="md:hidden ml-52" (click)="isMenuOpen = !isMenuOpen">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-7 h-7"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>
  </div>
  <ul
    class="hidden md:flex justify-between w-96 text-1xl text-black mt-2.5 font-semibold mx-5 sm:mx-40"
  >
    <li class="hover:text-pink-600"><a href="#home">Home</a></li>
    <li class="hover:text-pink-600"><a href="#about">About</a></li>
    <li class="hover:text-pink-600"><a href="#skills">Skills</a></li>
    <li class="hover:text-pink-600"><a href="#project">Projects</a></li>
  </ul>
  <!-- Dropdown menu -->
  <ul
    [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
    class="md:hidden absolute top-14 left-2 right-2 bg-zinc-100 text-center text-1xl text-black font-semibold"
  >
    <li class="py-2 hover:text-pink-600">
      <a href="#home" (click)="isMenuOpen = false">Home</a>
    </li>
    <li class="py-2 hover:text-pink-600">
      <a href="#about" (click)="isMenuOpen = false">About</a>
    </li>
    <li class="py-2 hover:text-pink-600">
      <a href="#skills" (click)="isMenuOpen = false">Skills</a>
    </li>
    <li class="py-2 hover:text-pink-600">
      <a href="#project" (click)="isMenuOpen = false">Projects</a>
    </li>
  </ul>
</nav>
