<nav class="flex justify-around bg-black  py-2.5 sticky top-0  ">
    <h3 class="logo_name font-bold text-4xl text-pink-600">A<span class=" text-white ">Jane</span></h3>
    <ul class="flex justify-between w-96 text-1xl text-white mt-2.5 font-semibold ">
        <li class="hover:text-pink-600"><a href="">Home</a></li>
        <li class="hover:text-pink-600"><a href="">About</a></li>
        <li class="hover:text-pink-600"><a href="">What I Do</a></li>
        <li class="hover:text-pink-600"><a href="">Projects</a></li>
    </ul>
</nav>
